/* For the box styling */
@import "components.css";

/* For the innovative theme */
@import "inno.css";

/* For the creative theme */
@import "creative.css";

@font-face {
	font-family: Primary;
	src: url("./font/100.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: Primary;
	src: url("./font/200.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: Primary;
	src: url("./font/300.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: Primary;
	src: url("./font/400.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Primary;
	src: url("./font/500.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: Primary;
	src: url("./font/600.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: Primary;
	src: url("./font/700.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Primary;
	src: url("./font/800.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: Primary;
	src: url("./font/900.ttf") format('truetype');
	font-display: swap;
	/* To improve SEO kind of. First display the font as a system font, then switch when our font is ready. */
	font-style: normal;
	font-weight: 900;
}

:root {
	--color-grey: #f2f2f3;
}

* {
	padding: 0;
	margin: 0;
	font-family: Primary;
	font-weight: 400;
	transition: all .3s ease-in-out;
	overflow-x: hidden;
	box-sizing: border-box;
}


section {
	height: 100vh;
}

/* Hide the menu button for other view types. */
.menuButton {
	display: none;
	cursor: pointer;
	font-size: 2em;
}

.nav-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 2em;
	padding-right: 4em;
	height: 90px;
}

.navbar-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 100000;
}

.nav-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mobile-nav-links {
	display: none;
	flex-direction: column;
	/* TOP RIGHT BOTTOM LEFT */ 
	padding: 2em 3em 2em 3em;
	gap: 1em;
}

.monochrome-logo {
	height: 33px;
	width: 210.75px;
}

.inno-switch {
	display: flex;
	flex-direction: row;
	width: 5em;
	border-radius: 10000px;
	margin-right: 20px;
	padding: 5px;
	cursor: pointer;
}

.inno-switch.enabled {
	transform: translateX(0em);
	flex-direction: row-reverse;
}

.inno-switch-guard {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	border-radius: 10000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.nav-links {
	display: flex;
	flex-direction: row;
	gap: 1.5em;
	font-weight: bolder;
}

.nav-links a,
.mobile-nav-links a {
	text-decoration: none;
	font-size: 1.3em;
	font-weight: 500;
}

.nav-links a:hover,
.mobile-nav-links a:hover {
	text-decoration: 2px underline solid;
}

.home-hero {
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.home-hero-title {
	font-weight: 400;
}

.home-hero-subtitle {
	font-weight: 700;
}

.home-hero-title,
.home-hero-subtitle {
	font-size: 7em;
	text-align: center;
	width: 100%;
}

.about-us {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("./image-1.avif");
	background-blend-mode: overlay;
}

.about-us .colored-box.one {
	top: 2em;
	left: 2em;
}

.about-us .colored-box.two {
	bottom: 2em;
	right: 2em;
}

.about-us-inner {
	margin-top: 10vh;
	text-align: left;
	position: relative;
	width: 100%;
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-title {
	/* Position Styling */
	z-index: 40;

	/* Box Styling */
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;

	/* Font styling */
	font-size: 2em;
	font-weight: 600;
}

.about-details {
	z-index: 20;
	margin-top: -8vh;
	width: 70%;

	/* TOP RIGHT BOTTOM LEFT */ 
	padding: 10vh 2em 2em 2em;
}



/* For the We Design Section */
.we-design {
	position: relative;
	display: flex;
	width: 100%;
	background-color: var(--color-grey);
	justify-content: center;
}

.we-design-inner {
	margin-top: 10vh;
	text-align: center;
	position: relative;
	width: 45%;
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.we-design-title {
	/* Position Styling */
	z-index: 40;

	/* Box Styling */
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;

	/* Font styling */
	font-size: 2em;
	font-weight: 600;
}

.we-design-details {
	/* Font styling */
	color: white;

	/* Positioning and constraints */
	z-index: 20;
	margin-top: -8vh;
	
	/* TOP RIGHT BOTTOM LEFT */ 
	padding: 10vh 2em 2em 2em;

	/* Background styling */
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url("./image-4.avif");
	background-position: 60%;
	border: 0.2em solid black;
}


/* For the We Develop Section */
.we-develop {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("./image-2.avif");
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	background-position: 10em;
}

.we-develop-inner {
	margin-top: 10vh;
	text-align: center;
	position: relative;
	width: 100%;
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.we-develop-title {
	/* Position Styling */
	z-index: 40;

	/* Box Styling */
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;

	/* Font styling */
	font-size: 2em;
	font-weight: 600;
}

.we-develop-details {
	z-index: 20;
	margin-top: -8vh;
	width: 40%;

	/* TOP RIGHT BOTTOM LEFT */ 
	padding: 10vh 2em 2em 2em;
}



/* For the We Design Section */
.we-market {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
}

.we-market-inner {
	margin-top: 10vh;
	text-align: center;
	position: relative;
	width: 45%;
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.we-market-title {
	/* Position Styling */
	z-index: 40;

	/* Box Styling */
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;

	/* Font styling */
	font-size: 2em;
	font-weight: 600;
}

.we-market-details {
	/* Font styling */
	color: white;

	/* Positioning and constraints */
	z-index: 20;
	margin-top: -8vh;
	
	/* TOP RIGHT BOTTOM LEFT */ 
	padding: 10vh 2em 2em 2em;

	/* Background styling */
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url("./image-5.avif");
	background-position: 60%;
	border: 0.2em solid black;
}



footer {
	display: flex;
	flex-direction: column;
	padding: 2em;
	height: 50vh;
	align-items: center;
	overflow-y: visible;
}

footer .footer-text {
	margin-top: 0.4em;
}

footer .footer-inside {
	display: flex;
	flex-direction: row;
	height: 100%;
	gap: 50px;
	width: 100%;
}

footer a {
	text-decoration: none;
	font-weight: 500;
}

footer .footer-section {
	display: flex;
	flex-direction: column;
	width: 40%;
}

footer .footer-section.navigation {
	flex-direction: row;
	gap: 40px;
	width: fit-content;
}

footer .footer-links {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

footer a:hover {
	text-decoration: 2px underline solid;
}

footer .footer-title {
	margin-bottom: .4em;
	font-size: 1.2em;
	font-weight: 600;
}

footer .footer-copyright {
	text-align: center;
	overflow: hidden;
}




/* For tablets */
@media(max-width: 900px) {
	.menuButton {
		display: block;
	}

	.nav-navigation {
		flex-direction: column;
	}

	.about-us,
	.we-design,
	.we-develop,
	.we-market {
		height: 100%;
		padding-bottom: 3em;
	}

	.about-us-inner,
	.we-design-inner,
	.we-market-inner,
	.we-develop-inner {
		margin-top: 3em;
		width: 100%;
	}

	.about-details,
	.we-develop-details,
	.we-design-details,
	.we-market-details {
		width: 90%;
	}

	.nav-links {
		display: none;
	}

	.navbar-group {
		position: fixed;
	}

	.navbar {
		width: 100%;
		padding-right: 1em;
	}

	.home-hero {
		height: 75vh;
	}

	.home-hero-title,
	.home-hero-subtitle {
		font-size: 4em;
	}
}

@media(max-width: 600px) {
	.monochrome-logo {
		height: 26.4px;
		width: 168.6px;
	}

	.inno-switch {
		width: 4em;
	}

	.home-hero-title,
	.home-hero-subtitle {
		font-size: 3em;
	}
	
	footer .footer-section.navigation {
		flex-direction: column;
		gap: 40px;
	}

	footer {
		height: 100%;
		gap: 4em;
	}

	footer .footer-inside {
		display: flex;
		gap: 40px;
		flex-direction: column;
	}

	footer .footer-section {
		width: 100%;
	}
	
	footer .footer-section.navigation {
		gap: 40px;
	}
}
